<html>
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Index</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>
   <body>
      <div>
      <h1>
         Hello {{session.user_name}}!</br>               
      </h1>
      <form action = {{ view_index }} method = "post">
         <p><h1>Collecting data for future analysis.</h1></p>
        
         <p><a href = {{ view_option }}>Enter Transaction</a></p>
         <p><a href = {{ view_transactions }}>View/Edit Transactions</a></p>
         <p><a href = {{ send_logout }}>Logout</a></p>
      </form>
   </div>
  
   </body>
</html>