<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Enter Option</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
	</head>
   <body>
      <div>
      <h1>Enter Option for {{session.user_name}}</h1>
      <form action = {{ create_option }} method = "post">
         <p><h1>Collecting data for future analysis.</h1></p>
         <p><h1>There is little error checking. Enter the data as described.</h1></p>
         <table>
         <tr><td>User Name:</td><td><input type="text" name="name" value={{ session.user_name }} readonly></td></tr>
         <tr><td>Quantity:</td><td><input type = "text" name = "quantity" placeholder="1" required></td></tr>
         <tr><td>Ticker:</td><td><input type = "text" name = "ticker" placeholder="MSTR" required></td></tr>
         <tr><td>Expiration Date:</td><td><input type = "text" name = "expiration_date" placeholder="MM-DD-YYYY" required></td></tr>
         <tr><td>Strike:</td><td><input type = "text" name = "strike" placeholder="300.00" required></p>
         <tr><td>Put:</td><td><input type="radio" id="put" name="call_put" value="Put" checked="checked" required></td></tr>
         <tr><td>Call:</td><td><input type="radio" id="call" name="call_put" value="Call" required></td></tr>
         <tr><td>Sell:</td><td><input type="radio" id="sell" name="buy_sell" value="Sell" checked="checked" required></td></tr>
         <tr><td>Buy:</td><td><input type="radio" id="buy" name="buy_sell" value="Buy" required></td></tr>
         <tr><td>Notes:</td><td><textarea id="notes" name="notes" rows="4" cols="50" required></textarea></td></tr>  
         
         <tr><td>Result:</td><td><select id="result" name="result">
               <option value="None">None</option>
               <option value="Assigned">Assigned</option>
               <option value="Called Away">Called Away</option>
               <option value="Closed">Closed</option>
               <option value="Expired">Espired</option>
               <option value="Open">Open</option>
               <option value="Rolled">Rolled</option>
             </select>  
         </td></tr>  
         </table>

         <p><input type = "submit" value = "Submit" /></p>

         <p><a href= {{ view_home }} >Back to Home</a></p>
      </form>
      </div>
   </body>
</html>