<html>
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Transactions List</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>
  <script>
  
   function callme(e)
   {

      //alert(e.innerHTML)
      let start_index = e.innerHTML.indexOf('setRowId');
      let end_index = e.innerHTML.indexOf('</td>');
      //let result = e.innerHTML.substring(start_index, start_index + 40)
      let result = e.innerHTML.substring(72, end_index)

      //alert(result)

      e.style.backgroundColor=(e.style.backgroundColor=='yellow')?('transparent'):('yellow');

      var cells = document.getElementsByTagName("tr");
      for (var i = 0; i < cells.length; i++) {
        if (cells[i].innerHTML != e.innerHTML) {
          cells[i].style.backgroundColor=(e.style.backgroundColor=='white')?('transparent'):('white');
        }
        
      }

      document.getElementById("selected_row_id").value = result; 

      // Enable the submit button
      document.getElementById("edit").disabled = false;
     
   }

   // Not really needed anymore
   function setRowId(e)
   {
      document.getElementById("selected_row_id").value = e.innerHTML;    
   }

   function download_transactions(e)
   {
      document.getElementById("selected_row_id").value = "download";  
      document.getElementById("myForm").submit()  
   }
  </script>
   <body>
      <div>
         <p><h1>View and Edit Transactions</h1></p>
      <form id="myForm" action = {{ send_transaction_to_edit }} method = "post">
         
         <div class="tableFixHead">   
         <table class="fixed_header">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>UESR_NAME</th>
                    <th>TICKER</th>
                    <th>EXPIRATION</th>
                    <th>STRIKE</th>
                    <th>CALL_BUY</th>
                    <th>BUY_SELL</th>
                    <th>DELTA</th>
                    <th>VOL</th>
                    <th>BID_ASK</th>
                    <th>ROR</th>
                    <th>IV</th>
                    <th>NOTES</th>
                    <th>RESULT</th>    
                    <th>DIR</th>
                    <th>SIGNAL</th>
                    <th>PHASE</th>
                    <th>PRICE</th>
                    <th>STDDEV</th>
                    <th>UPPER</th>
                    <th>MEAN</th>
                    <th>LOWER</th>
                </tr>
        </thead>
        
        
        <tbody> 
            {% for row in dbhtml %}
            <tr id="rows" onclick="callme(this)">
                <td id="row_id" name="row_id" onclick="setRowId(this)">{{row.0}}</td>
                <td>{{row.1}}</td>
                <td>{{row.2}}</td>
                <td>{{row.3}}</td>
                <td>{{row.4}}</td>
                <td>{{row.5}}</td>
                <td>{{row.6}}</td>
                <td>{{row.7}}</td>
                <td>{{row.8}}</td>
                <td>{{row.9}}</td>
                <td>{{row.10}}</td>
                <td>{{row.11}}</td>
                <td>{{row.12}}</td>
                <td>{{row.13}}</td>
                <td>{{row.15}}</td>
                <td>{{row.16}}</td>
                <td>{{row.17}}</td>
                <td>{{row.18}}</td>
                <td>{{row.19}}</td>
                <td>{{row.20}}</td>
                <td>{{row.21}}</td>
                <td>{{row.22}}</td>              
            </tr>
            {% endfor %}
        </tbody>
        
        </table>
      </div>  
         
         <p><input id="edit" name="edit" type="submit" value="View and Edit" disabled/></p>

         <p><input id="download" name="download" type="button" value="Download to CSV" onclick="download_transactions(this)"/></p>

         <p><a href = {{ view_home }}>Back to Home</a></p>

         <input type="hidden" id="selected_row_id" name="selected_row_id"/>
      </form>
      </div>
   </body>
</html>
