/* https://stackoverflow.com/questions/21168521/table-fixed-header-and-scrollable-body */

.tableFixHead { 
    overflow: auto; 
    height: 200px; 
}
.tableFixHead thead th { 
    position: sticky; 
    top: 0; 
    z-index: 1; 
}

/* Borders (if you need them) */
.tableFixHead,
.tableFixHead td {
  box-shadow: inset 1px -1px #000;
}
.tableFixHead th {
  box-shadow: inset 1px 1px #000, 0 1px #000;
}

/* Just common table stuff. Really. */
table { 
    border-collapse: collapse; 
    width: 100%; 
}

th, td { 
    /*padding: 8px 16px; */
}

th { 
    background: #ABDD93;
}