.tableFixHead {
    width: 500px;
    table-layout: fixed;
    border-collapse: collapse;
}

.tableFixHead tbody {
    display: block;
    width: 100%;
    overflow: auto;
    height: 300px;
}

.tableFixHead thead tr {
    display: block;
}

th {
    background: #ABDD93;
}

.tableFixHead th,
.tableFixHead td {
    padding: 5px 1px;
    width: 200px;
    white-space: nowrap;
}

/* div center */
.center {
    text-align: center;
    /*border: 3px solid green;*/
}